// 스타일 초기화
@import 'reset.scss';
// 폰트
@import 'font.scss';
// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// 공통 스타일 설정
:root {
  --main-colorA: #b6f1e0;
  --main-colorB: #75e1c2;
  --sub-colorA: #ff8399;
  --font-colorA: #292929;
  --white-colorA: rgba(255, 255, 255, 0.8);
}
// 블럭 색상 커스텀
::-moz-selection {
  background: var(--main-colorB);
  color: #fff;
}
::selection {
  background: var(--main-colorB);
  color: #fff;
}
// 스크롤바 커스텀
::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-colorA);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

html,
body {
  position: relative;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  // overflow: hidden;
  // width: 100vw;
  // height: 100vh;
  // background: var(--main-colorA);
  color: var(--font-colorA);
}

@layer base {
  #__next {
    // background: pink;
  }
}
// main
.main-section-wrap {
  min-height: 50.875rem;
  max-height: calc(95vh - 4rem);
}
// about
.about-section-wrap {
  & > section {
    margin-bottom: 5rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.about-section-title {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin: 5px auto 0;
    background: var(--sub-colorA);
  }
}
.about-section-list {
  background: #fff;
  & > li {
    padding: 5px 0;
    border-bottom: 0.5px dashed var(--main-colorA);
    &:last-of-type {
      border-bottom: 0;
    }
  }
}
